/* Color Palettes

30 minute segment - #F8B195
60 minute segment - #C06C84
90 minute segment - #6C5B7B
Secondary - #F7DB4F
Background - #355C7D */

.App {
    text-align: center;
}

.App-header {
    background-color: #355C7D;
    height: 10%;
    padding: 10px;
    color: #fff;
}

.App-title {
    font-size: 3.5em;
}

.App-intro {
    font-size: large;
}

html, body {
    height: 100%;
}
body {
    background-color: #355C7D;
    color: #fff;
    margin: 0;
}

#root, .App {
    height: 100%;
}

.blockable {
    height: 90%;
    display: flex;
}

.blockable-app_calendar-side {
    float: left;
    width: 44%;
    flex-direction: column;
    flex-grow: 2;
    padding: 2%;
    color: #000;
    box-sizing: border-box;
}

.rbc-time-content, .rbc-timeslot-group, .rbc-today {
    background-color: #fff;
}

.rbc-header-gutter {
    background-color: #fff;
}

.blockable-app_view-side {
    float: right;
    width: 44%;
    flex-direction: column;
    flex-grow: 2;
    padding: 2%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
}

/* View side styling */
.blockable-app_add-item-view, .placeholder {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.blockable-app_add-item-view textarea {
    flex: 1;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.placeholder {
    border: 1px dotted white;
    font-size: 20px;
    margin: 10px;
}

textarea {
    font-size: 20px;
}

/* Button Styling */
.blockable-app_time-selector-button, .blockable-app_event-controls-cancel-button, .blockable-app_event-controls-confirm-button {
    width: 150px;
    font-size: 16px;
    border: none;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
}

.blockable-app_time-selector-button.length30 {
    background-color: #F8B195;
}

.blockable-app_time-selector-button.length60 {
    background-color: #C06C84;
}

.blockable-app_time-selector-button.length90 {
    background-color: #6C5B7B;
}

.blockable-app_30-minute-block {
    background-color: #F8B195;
}

.blockable-app_60-minute-block {
    background-color: #C06C84;
}

.blockable-app_90-minute-block {
    background-color: #6C5B7B;
}

.blockable-app_event-controls-cancel-button {
    background-color: #F67280; 
}

.blockable-app_event-controls-confirm-button {
    background-color: #83AF9B;
}

.blockable-app_time-selector-button:hover {
    background-color: #fff;
    color: #000;
}

.blockable-app_event-controls-cancel-button:hover, .blockable-app_event-controls-confirm-button:hover {
    background-color: #fff;
    color: #000;
}

/* Time selector styling */
.blockable-app_segment-start-selector, .blockable-app_segment-length-details {
    padding: 20px;
    font-size: 20px;
}

.blockable-app_segment-start-selector select {
    font-size: 16px;
    background-color: #fff;
    border-color: #fff;
}

/* Mobile size */
@media screen and ( max-width: 769px ) {
    .blockable {
        display: flex;
        flex-direction: column-reverse;
        min-height: 1200px;
    }

    .blockable-app_view-side, .blockable-app_calendar-side {
        width: 100%;
    }

    .blockable-app_view-side {
        min-height: 300px;
    }
}